	title { color:darkgray;
		font: spectral;
		font-size:20px; 
		}

	body {color:saddlebrown;
		font: spectral;
		font-size: 10px;
		background-color: darkgray;
		}
	h1 {
	color:saddlebrown;
	font-family: Spectral, Times New Roman;
	font-size: 50px;
	text-align: center;
	font-style: oblique;
    }
	p {
		color: darkred;
		font-family: Times New Roman;
		font-size: 20px;
	}
	img{
		width: 500px;
		img-orientation: center;
		margin: 10px;
	}
}
.spectral-regular {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}


